body {
  background: linear-gradient(to right, #dbeafe, #f8fafc);
  min-height: 100vh;
}

.card {
  border-radius: 20px;
}

button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
}

.bill-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 17px;
}

#totalBill {
  color: green;
  font-weight: bold;
}
