body {
  background: linear-gradient(to right, #dfe9f3, #ffffff);
  min-height: 100vh;
}

.card {
  border-radius: 20px;
}

button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
}

.bill-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 17px;
}

.grand-total {
  font-size: 22px;
  font-weight: bold;
  color: green;
}
